.primary {
    height: 2.4rem;
    min-width: 8rem;
    margin-top: 1rem;
    background-color: #1B1DC7;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}

.secondary {
    background-color: rgb(231, 234, 241);
    border-radius: 4px;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    height: 2.4rem;
    min-width: 8rem;
    position: absolute;
    right: 0;
    margin-right: 2rem;
    border: 2px solid white;
}