.card {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 16rem;
    height: 10rem;
    border: 0.2px solid gray;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
}

.heading {
    font-weight: 600;
    text-transform: uppercase;
}

.text {
    font-size: 0.8rem;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.88rem;
    position: absolute;
    bottom: 0;
    color: rgb(217, 3, 104);
}

.arrow {
    color: #1B1DC7;
    margin-top: 0.02rem;
    margin-left: 0.4rem;
    font-size: 1.4rem;
}

@media (max-width: 1000px) {
    .card {
        display: flex;
        flex-direction: column-reverse;
        height: 12rem;
    }

    .text {
        margin-bottom: 3rem;
    }
}

@media (max-width: 850px) {
    .card {
        justify-content: center;
        width: 10rem;
    }

    .icon {
        align-self: center;
    }

    .link {
        display: none;
        align-self: center;
    }

    .heading {
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        text-transform: capitalize;
    }

    .text {
        display: none;
    }
}

@media (max-width: 650px) { 
    .card {
        width: 80%;
    }
}