.card {
    position: relative;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 24rem;
    height: 6rem;
    border: 0.2px solid gray;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.text_wrapper {
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.text {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.link {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 0.88rem;
    color: rgb(217, 3, 104);
    margin-top: 0.6rem;
    margin-bottom: 0;
}