.container {
  padding: 0;
}

.main {
  background-color: #111;
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 2rem;
}

.achievements {
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
}

.center_headline {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #1B1DC7;
}

.left_headline {
  margin-top: 1rem;
  margin-left: 2rem;
  max-width: 26rem;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 2rem;
  color: #1B1DC7;
}

.center_bar {
  height: 2px;
  width: 60px;
  background-color: rgb(217, 3, 104);
  display: inline-block;
  margin: 10px auto 0px;
}

.left_bar {
  height: 2px;
  width: 60px;
  background-color: #1B1DC7;
  display: inline-block;
  margin-left: 2rem;
  margin-bottom: 0;
}

.attributes_wrapper {
  display: flex;
  flex-direction: row;
}

.attributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 4rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}