.list_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    flex-direction: row-reverse;
}

.list_items {
    margin-left: 0;
    padding-left: 0;
}

.list_item {
    background: url('../public/ccptick.svg') left center no-repeat;
    margin: 0px 0px 15px;
    padding: 2px 0px 2px 36px;
    color: rgb(5, 47, 95);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 24px;
    list-style: none;
}

.list_wrapper {
    padding: 0;
    margin-top: 4rem;
}

.image {
    margin-left: 4rem;
    margin-right: 4rem;
}

@media (max-width: 650px) {
    .list_section {
        display: flex;
        flex-direction: column;
    }

    .list_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .list_section {
        display: flex;
        flex-direction: column;
    }

    .list_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .image {
        margin-top: 4rem;
    }
}