.nav_logo {
    padding-right: 2rem;
    padding-left: 2rem;
    color: #052F5F;
}

.nav_links {
    width: 100vh;
    color: #052F5F;
    display: flex;
    align-items: center;
}

.nav_link {
    padding-left: 2rem;
}

@media (max-width: 600px) {

}