.nav_bar {
    color: #052F5F;
    box-shadow: 2px 4px lightblue;
}

.nav_logo {
    padding-right: 2rem;
    padding-left: 2rem;
}

.nav_links {
    display: flex;
    align-items: center;
}

.nav_link {
    padding-left: 2rem;
}